# Ajazz AJ139 Pro / COMPX 25a7 mouse
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="25a7", ATTRS{idProduct}=="fa7b", GROUP="wheel", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="25a7", ATTRS{idProduct}=="fa7c", GROUP="wheel", MODE="0660"
SUBSYSTEM=="usb", ATTR{idVendor}=="25a7", ATTR{idProduct}=="fa7b", GROUP="wheel", MODE="0660"
SUBSYSTEM=="usb", ATTR{idVendor}=="25a7", ATTR{idProduct}=="fa7c", GROUP="wheel", MODE="0660"
